.time-query .query-key {
  margin-right: 15px;
}

.detailed-query p {
  margin: 8px;
}

.transit-query input {
  width: 34px;
}

.detailed-query {
  margin-top: 15px;
  padding: 8px 15px;
}

.detailed-query button {
  border-radius: 0;
  border-width: 1px;
  border-color: #6C757D;
  height: 35px;
  width: 60px;
}

input[type="time"] {
  position: relative;
  padding: 0 5px;
}

input[type="time"]::-webkit-calendar-picker-indicator {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
}
