.time-query .query-key {
  margin-right: 15px;
}

.detailed-query p {
  margin: 8px;
}

.transit-query input {
  width: 25px;
}

.detailed-query {
  margin-top: 15px;
  padding: 8px 15px;
}

.detailed-query button {
  border-radius: 0;
  border-width: 1px;
  border-color: #6C757D;
  height: 35px;
  width: 60px;
}
