.tab-container button {
  padding: 4px 18px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.tab-container .active {
  border: 1px solid #e4f1f5;
  background-color: #e4f1f5;
}

.tab-container .inactive {
  border-right: 1px solid #e4f1f5;
  border-left: 1px solid #e4f1f5;
  border-top: 1px solid #e4f1f5;
  border-bottom: 1px solid white;
}

.way-body {
  background-color: #e4f1f5;
  padding-top: 5px; 
  padding-bottom: 40px;
}

.tab-container {
  border-bottom: 1px solid #e4f1f5;
  margin-left: 15px;
}
