.date-place-query {
  margin-top: 20px;
  margin-bottom: 25px;
}

.date-place-query #hometown-station, select {
  background-color: white;
  padding: 2px 6px;
  height: 22px;
  font-size: 15px;
  line-height: 16px;
}

.date-place-query label {
  padding: 3px 6px;
}

.place-query {
  width: 100%;
}

.place-query #hometown-station, select {
  float: right;
  width: 175px;
}

input[type="checkbox"] {
  position: relative;
  width: 16px;
  height: 16px;
  border: 1px solid #000;
  vertical-align: -5px;
}

/* todo: make look better */
input[type="checkbox"]:checked:before {
  position: absolute;
  top: 1px;
  left: 4px;
  transform: rotate(50deg);
  width: 4px;
  height: 8px;
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
  content: '';
}
