.trip-candidate {
  border: 0.1px solid #6C757D;
  background-color: white;
  border-radius: 8px;
  width: 100%;
  display: block;
}

.summary {
  width: 100%;
}

.summary button {
  display: inline-block;
  vertical-align: middle;
  color: white;
  line-height: 1;
  width: 0.7em;
  height: 0.7em;
  border: 0.1em solid #6C757D;
  border-left: 0;
  border-bottom: 0;
  box-sizing: border-box;
  background-color: white;
  margin-left: 8px;
}

.summary .inactive {
  transform: translateY(-25%) rotate(135deg);
}

.summary .active {
  transform: translateY(25%) rotate(-45deg);
}

.summary p {
  padding-left: 8px
}
