.App {
  text-align: center;
  
}

.main-date-place-query .query-key {
  font-size: 15px; 
  padding-top: 2px;
}

.main-date-place-query input {
  float: right;
  margin-right: 70px;
  padding: 2px 6px;
  height: 20px;
  border: 1px solid #C0CDDC;
}

.query-group {
  margin-top: 20px;
  margin-bottom: 20px;
}

.query-key {
  font-size: 15px;
  margin: 10px 10px 10px 0px;
}

.leg {
  border-top: 1px solid #6C757D;
  padding: 5px 10px;
}

.trip-candidate {
  border: 1px solid #6C757D;
  margin: 15px;
  border-radius: 8px;
}

.block {
  border: 1px solid #6C757D;
  margin: 15px;
  border-radius: 8px;
}

p {
  margin: 10px;
}

input {
  margin-left: 10px;
  margin-right: 10px;
}

.transit-query input {
  width: 15px;
}

.detailed-query {
  padding: 10px 4% 10px 4%;
}

.detailed-query button {
  border-radius: 0;
  border-width: 1px;
  border-color: #6C757D;
  height: 35px;
  width: 60px;
}

.active {
  background-color: #6C757D;
  color: white;
}

.summary button {
  display: inline-block;
  vertical-align: middle;
  color: white;
  line-height: 1;
  width: 1em;
  height: 1em;
  border: 0.1em solid black;
  border-left: 0;
  border-bottom: 0;
  box-sizing: border-box;
  background-color: white;
  margin-left: 5px;
}

.summary .inactive {
  transform: translateY(-25%) rotate(135deg);
}

.summary .active {
  transform: translateY(25%) rotate(-45deg);
}