.App {
  text-align: center;
  
}

/* body {
  padding: 0 4% 0 4%;
  margin: 0 auto;
} */

.main-date-place-query .container {
  background-color: #6C757D;
  color: white;
  padding-bottom: 5px;
  padding: 20px 4% 10px 4%;
}

.main-date-place-query .query-key {
  font-size: 15px; 
  padding-top: 2px;
}

.main-date-place-query input {
  float: right;
  margin-right: 70px;
  padding: 2px 6px;
  height: 20px;
  border: 1px solid #C0CDDC;
}

.query-group {
  margin-top: 20px;
  margin-bottom: 20px;
}

.query-key {
  font-size: 15px;
  margin: 10px 10px 10px 0px;
}

.leg {
  border-bottom: 1px solid #6C757D;
  padding: 5px 10px;
}

.trip-candidate {
  border-top: 3px solid black; 
  border-bottom: 3px solid black;
}

p {
  margin: 10px;
}

input {
  margin-left: 10px;
  margin-right: 10px;
}

.transit-query input {
  width: 15px;
}

.detailed-query {
  background-color: #efefef;
  padding: 10px 4% 10px 4%;
  border-bottom: 3px solid black;
}

.detailed-query button {
  border-radius: 0;
  border-width: 1px;
  border-color: #6C757D;
  height: 35px;
  width: 60px;
}

.active {
  background-color: #6C757D;
  color: white;
}